/* CSS */
.title-40{
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.link-40{
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.audio-container {
    background-color: #111827; /* Change background color */
    border: 2px solid #007bff; /* Change border color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Spacing around the audio player */
    #width: fit-content; /* Adjust width to fit content */
}

audio {
    color: #111827;
    outline: none; /* Remove default outline */
    width: 100%; /* Make audio player fill container */
}

.button-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change 3 to the number of buttons */
}
.button-40 {
   background-color: #111827;
   border: 1px solid transparent;
   border-radius: .75rem;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   flex: 0 0 auto;
   font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 1.125rem;
   font-weight: 600;
   line-height: 1.5rem;
   padding: .75rem 1.2rem;
   text-align: center;
   text-decoration: none #6B7280 solid;
   text-decoration-thickness: auto;
   transition-duration: .2s;
   transition-property: background-color,border-color,color,fill,stroke;
   transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: auto;
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-40 {
        padding: .75rem 1.5rem;
    }
}

.audio-list {
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 5px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
    background-color: #111827;
}

.audio-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    color:white;
    border-bottom: 2px solid #ccc;
    display: flex;
    width: max-content;
}

.audio-item:hover {
    color:black;
    background-color: #f0f0f0;
}