/* CSS */
.body-dark-gray{
    background-color: #111827;
}

/* Container at the top */
.top-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2E3047;
    padding: 10px 20px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-container {
    background-color: #2E3047;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.login-container h2 {
    color:#3BBA9C;
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 92%;
    background-color: #707793;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.input_text{
    color: white;
}

.input_text::placeholder {
    color: white;
    opacity: .5;
}


/* Home link styling */
.home-link {
    color:#3BBA9C;
    text-decoration: none;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: bold;
}

.upload-link{
    color:#3BBA9C;
    text-decoration: none;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: bold;
    padding-right: 10%;
}

.music-link{
    color:#3BBA9C;
    text-decoration: none;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: bold;
    padding-right: 0%;
}

.home-link:hover, .another-link:hover {
    color: #ccc; /* Changes color when hovered */
}


.title-40{
    margin-top: 60px;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: #707793;
}

.link-40{
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.audio-container {
    background-color: #111827; /* Change background color */
    border: 2px solid #707793; /* Change border color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Spacing around the audio player */
    #width: fit-content; /* Adjust width to fit content */
}

audio {
    color: #111827;
    outline: none; /* Remove default outline */
    width: 100%; /* Make audio player fill container */
}

.button-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change 3 to the number of buttons */
}

.button-40 {
   background-color: #2E3047;
   border: 2px solid #707793;
   border-radius: .75rem;
   box-sizing: border-box;
   color: #3BBA9C;
   cursor: pointer;
   flex: 0 0 auto;
   font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 1.125rem;
   font-weight: 600;
   line-height: 1.5rem;
   padding: .75rem 1.2rem;
   text-align: center;
   text-decoration: none #6B7280 solid;
   text-decoration-thickness: auto;
   transition-duration: .2s;
   transition-property: background-color,border-color,color,fill,stroke;
   transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: auto;
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-40 {
        padding: .75rem 1.5rem;
    }
    .audio-item{
        padding: 6px;
        font-size: 0.95rem;
    }
}

.audio-list {
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid #707793;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #2E3047;
}

.audio-item {
    padding: 15px;
    transition: background-color 0.2s;
    white-space: nowrap;
    overflow-y: hidden;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.025rem;
    font-weight: 600;
    line-height: 1.5rem;
    color:#3BBA9C;
    border: 1px solid #707793;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
.audio-item::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer Edge */
}

.audio-item:hover {
    color:black;
    background-color: #f0f0f0;
}

.audio-item.active{
    color:black;
    font-weight:bold;
    background-color: #f0f0f0;
}


.upload-container{
    background-color: #111827; /* Change background color */
    border: 2px solid #707793; /* Change border color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Spacing around the audio player */
    #width: fit-content; /* Adjust width to fit content */
}

.upload-label{
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #3BBA9C;
}

.upload-button{
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #2E3047;
}

.upload-form-group{
    margin-bottom: 1rem;
}

.upload-form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.upload-alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.upload-mt3{
    margin-top: 1rem !important;
}

/* selection option grid */
.selection-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* toggle */
:root {
    --accent: #04da97;
    --border-width: 3px;
    --border-radius: 55px;
    --font-size: 16px;
}

.toggle-container {
    margin: 15px;
    text-align: center;
    padding: 10px;
}

.toggle {
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
}

.toggle>input[type="radio"] {
    display: none;
}

.toggle>#play-toggle:checked~#flap {
    transform: rotateY(180deg);
}

.toggle>#play-toggle:checked~#flap>.content {
    transform: rotateY(180deg);
}

.toggle>#shuffle-toggle:checked~#flap {
    transform: rotateY(0deg);
}

.toggle>label {
    display: inline-block;
    min-width: 47%;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
}

.toggle>label,
.toggle>#flap {
    font-weight: bold;
    text-transform: capitalize;
}

.toggle>#flap {
    position: absolute;
    top: calc( 1px - var(--border-width));
    left: 50%;
    height: calc(88% + var(--border-width)* 2);
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.toggle>#flap>.content {
    color: #333;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d;
}

/* Dropdown menu */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
.dropdown-container *{
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    color:var(--accent);
}

.playlist{
    background-color: #2E3047;
    color:var(--accent);
}

.dropdown{
    position: relative;
    margin: 12px;
    padding: 10px;
    height: 50px;
}

.dropdown::before{
    content: '';
    position: absolute;
    top:25px;
    right: 28px;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(40deg);
    transition: 0.5s;
}
.dropdown.active::before{
    right:20px
}

.dropdown::after{
    content: '';
    position: absolute;
    top:25px;
    right: 20px;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(-40deg);
    transition: 0.5s;
}
.dropdown.active::after{
    right:28px
}

.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 16px;
    outline: 5px solid var(--accent);
    outline-offset: -5px;
}

.dropdown .option{
    position: absolute;
    top:55px;
    width: 95%;
    background: #707793;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
}

.dropdown.active .option{
    visibility: visible;
    opacity: 1;
}

.dropdown .option div{
     padding: 12px 30px;
     cursor: pointer;
}

.dropdown .option div:hover{
    background: #62baea;
    color: #fff;
}

