<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Page</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <script th:src="@{/scripts/Validate.js}"></script>
  <script>
    validateJwtToken()
  </script>
</head>
<body class="body-dark-gray">

<div class="top-container">
  <a th:href="@{/}" class="home-link" >Home</a>
  <a th:href="@{/upload}" class="upload-link">Upload</a>
</div>

<h2 class="title-40">Music</h2>

<div class="audio-container">
  <audio controls id="audio-player" preload="auto" mediagroup="audioGroup">
    <source src="" type="audio/aac" id="audio-source">
    Your browser does not support the audio element.
  </audio>
</div>

<div class="button-container">
<button class="button-40" role="button" id="previous-button">Previous</button>
<button  class="button-40" role="button" id="play-button">Play</button>
<button class="button-40" role="button" id="next-button">Next</button>
</div>

<div class="audio-list" id="audio-list"></div>

<script th:src="@{/scripts/PlayMusic.js}"></script>
</body>
</html>
