<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Page</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-dark-gray">
<div>
  <h2 class="title-40">Music Page</h2>
</div>

<div class="audio-container">
  <audio controls id="audio-player" mediagroup="audioGroup">
    <source src="" type="audio/aac" id="audio-source">
    Your browser does not support the audio element.
  </audio>
</div>

<div class="button-container">
<button class="button-40" role="button" id="previous-button">Previous</button>
<button  class="button-40" role="button" id="play-button">Play</button>
<button class="button-40" role="button" id="next-button">Next</button>
</div>


<!-- Scrollable list of audio files -->
<div class="audio-list" id="audio-list"></div>

<div>
  <a class="link-40" th:href="@{/upload}">Upload Music</a>
</div>

<script th:src="@{/scripts/playmusic.js}"></script>
</body>
</html>
