<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Music Page</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body  class="body-dark-gray">

<div class="top-container">
  <a th:href="@{/}" class="home-link" >Home</a>
  <a th:href="@{/music}" class="another-link">Music</a>
</div>

<h2 class="title-40">Upload Music Page</h2>

<div class="upload-container">
  <div class="form-group">
    <label class="upload-label" for="youtubeUrl">YouTube URL:</label>
    <input type="text" id="youtubeUrl" class="form-control">
  </div>
  <button id="submitButton" class="btn btn-primary">Submit</button>
  <div id="message" class="alert mt-3" style="display: none;"></div>
</div>

<script th:src="@{/scripts/UploadMusic.js}"></script>

</body>
</html>
